body {
color:yellowgreen;
background-color:teal ;
    font-family: cursive
    
}

h1 { color:aqua;
    border:5px solid chocolate;
    padding:5px;
    border-radius: 10px;
   
    bottom: 0px;
    padding-left: 100px;
    
}

img {
    width: 300px;
    border-radius:300px;
    text-align: center;
    margin-left: 100px  
    z-index: 100;
}
 
li {
    border: double
;
    margin: 20px;
    padding: 5px;

}

.pomodorosestimate {
    border: groove;
    color: indianred;
    
}

submitbutton {
    box-shadow: 2px 2px 1px #90A4AE;
}

h4 {
    border: dotted;
}